@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Montserrat+Alternates:wght@400;500&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Lemonada:wght@500&family=Philosopher:wght@700&family=Syncopate:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap');

:root {
  --headerclr: #222533;
  --mainclr: #ffcb0f;
  --soft-gold: #bfa75d;
  --gray: #838181;
  --darkgray: #606060;
  --lightgray: #c9c9c9;
  --black: #222222;

  --mainfont: 'Montserrat', sans-serif;
  --subtext: 'Caveat', sans-serif;
  --babytext: 'Oooh+Baby', sans-serif;
  --logotext: 'Lemonada', sans-serif;
  --fancy: 'Qwitcher Grypen', sans-serif;

  --lightgold: #f7ef8a;
}

html {
  font-size: 60.5%;
  scroll-behavior: smooth;

  box-sizing: border-box;

}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url(../images/stairs\ -\ Edited.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  height: 100vh;
}

hr {
  border: solid #44739d 2px;
  width: 150px;
  margin: auto;
  margin-top: 5rem;
}

a {
  text-decoration: none;
  color: white;
}

#home {
  font-size: 20px;
  font-family: var(--mainfont);
}

h1 {
  color: white;
  text-shadow: 5px 2px var(--headerclr);
  text-align: center;
  font-family: var(--mainfont);
  font-size: 75px;
  line-height: 10px;


}

h2 {
  color: white;
  text-shadow: 5px 2px var(--headerclr);
  text-align: center;
  font-size: 30px;
  font-family: var(--mainfont);
}




.header {
  padding: 1.0rem 7%;
  position: relative;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--headerclr);
  z-index: 1;     /*puts header on top of background image*/
}

header nav {
  padding: 15px;
  font-family: var(--logotext);
}

nav a:hover {
  color: var(--soft-gold);
}

#logo img {
  color: var(--soft-gold);
  width: 80px;
  border-radius: 50%;
}

.nav a {
  color: white;
  font-size: 2.0rem;
  margin-left: 1rem;
  letter-spacing: 2px;
  font-family: var(--logotext);
}

.nav a:hover {
  color: var(--soft-gold);
}

.icon-header div {
  color: white;
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.icon-header div:hover {
  color: var(--soft-gold);
}

#menu-bar {
  display: none;
}

.nav.active {     /* makes menu box appear when icon clicked*/
  top: 100%;
}


/*----------contact form---------*/

form {
  padding-bottom: 50px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=email], select, textarea {
  width: 50vw; /* Full width */
  padding: 5px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: Verdana, Geneva, Tahoma, sans-serif
}



/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: var(--headerclr);
  color: var(--soft-gold);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: var(--soft-gold);
  color: black;

}










/*--------------title--------*/
.contact-title {
  top: -10px;
  left: 2px;
  animation: contact-title ease 1s forwards .1s;
}

.contact-form {
  top: -20px;
  left: 2px;
  animation: contact-title ease 1s forwards .1s;
}

@keyframes contact-title {
  0% {transform: translateY(0);}
  100% {transform: translateY(10px); opacity:1;}
}

@keyframes contact-form {
  0% {transform: translateY(0);}
  100% {transform: translateY(20px); opacity:1;}
}

.contact-title h1 {
  font-size: 50px;

}

.contact-title h2 {
  font-size: 18px;
  margin-bottom: -20px;

}








/*--------------footer-------*/
footer {
  background-color: var(--headerclr);
  position: fixed;
  bottom: 0;
  font-size: 20px;
  width: 100%;

}

footer p{
  color: whitesmoke;

  font-size: 1.5rem;
  padding-top: 20px;
  letter-spacing: 2px;
  line-height: 1px;

}

footer a {
  padding-bottom: -10px;
}

.fa-brands .fa-facebook p {
  color: white;
}

.design-by {
  color: #838181;
  font-size: 1rem;
  padding-left: 5px;
  margin-top: 30px;

}

.verse {
  color: #838181;
  font-size: 1rem;
  padding-left: 5px;
}

.fa-solid {
  font-size: .75rem;
  color: #838181;
}





/*--------media queries-------*/

@media screen and (max-width: 750px) {
  html {
    font-size: 55%;
  }
    #menu-bar {
      display: initial;
    }
    .header {
      padding: 2rem;
    }
    .nav {              /* makes it disappear */
      position: absolute;
      top: 100%;        /*need both?*/
      width: 20%;
      left: 80%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
      border-radius: 15px;
      top: -1000%;
      transition: .5s;
      background: var(--lightgray);
    }
    .nav a {            /* puts links in column below logo */
      color: black;
      display: block;
      margin: 1rem;     /* add space between each link */
      font-size: 14px;
    }
    .search-form {
      width: 80%;
    }

    .header {
      height: 50px;
    }

    .header img {
      padding-left: 10px;
    }

    .form-control {
      width: 50vw;
      border: none;
      outline: none;
      border-bottom: 2px solid gray;
    }
    
    textarea .form-control {
      border: 2px solid black;
    }
    
    input {
      height: 30px;
    }

    input[type=submit] {
      padding: 7px 15px;
    }
    
    form .submit {
      background-color: var(--headerclr);
      color: var(--soft-gold);
      font-family: var(--mainfont);
    }

}
